<!doctype html>
<html lang="en" ng-app="mainApp">

<head>
    <meta charset="utf-8">
    <title>Google Phone Gallery</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="app.css" />
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="app.module.js"></script>

</head>

<body>
    {{1+8}}
    <outer-comp usernameb="'BOB'" style="border: 1px solid red">

    </outer-comp>


</body>

</html>